@model IEnumerable<ToDo.Models.ToDoTask>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Tasks</h2>

<table class="table">
    

@foreach (var item in Model) {
<tr>    
    <td>
        @Html.ActionLink(item.Name, "Details", new { id = item.Id })

      
       



    </td>
    <td>
        <div class="btn-toolbar">    
                <div class="btn-group">
                    <a href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        Steps
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#"></a></li>
                        <li><a href="#">Dropdown link</a></li>
                        <li><a href="#">Dropdown link</a></li>
                    </ul>
                </div>          
        </div>




        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
    </td>
    </tr>
    }
    <tr>
        <td align="right">
            <button type="button" class="btn btn-primary" onclick="window.location.href='/ToDoTasks/Create'">
                <span class="glyphicon glyphicon-plus" style="color:black" aria-hidden="true"> </span>
            </button>
            
            
        </td>
        <td>
    <span class="help-block">Add a Task</span>
        </td>
</tr>

</table>
