@model ToDo.Models.ToDoUser

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Html.DisplayFor(model => model.Name)</h2>

<table class="table">
    <tr>
        <th>
            <p>Current Tasks</p>
        </th>
    </tr>
    @foreach (var task in Model.ToDoTasks)
    {
        <tr>
            <td>
                <ul>
                    <li>
                        @Html.DisplayFor(modelItem => task.Name)
                    </li>
                </ul>               
            </td>
        </tr>
    }

</table>



<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
